<div class="row">
  <div class="col-sm-4 mx-auto shadow p-5">
    <div class="card-group">
      <div class="card p-2">
        <div class="card-body">
          <form class="ng-untouched ng-pristine ng-invalid  align-self-center ">
            <h1>Login</h1>
            <p class="text-muted">Sign in to your account</p>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span
                  class="input-group-text"
                  style="border-radius: 0px 0 3px 0px"
                >
                  <i>
                    <img
                      src="../assets/images/icon-user.png"
                      width="14"
                      height="14"
                    />
                  </i>
                </span>
              </div>
              <input
                class="form-control"
                name="username"
                type="text"
                #username
                placeholder="user name"
                required
              />
              <!-- <div
                class="alert alert-danger d-flex align-items-center"
                role="alert"
              >
                Username is required!
              </div> -->
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span
                  class="input-group-text"
                  style="border-radius: 0px 0 3px 0px"
                >
                  <i>
                    <img
                      src="../assets/images/icon-lock.png"
                      width="14"
                      height="14"
                    />
                  </i>
                </span>
              </div>
              <input
                class="form-control"
                name="username"
                type="password"
                placeholder="********"
                required
              />
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="autoSizingCheck"
              />
              <label class="form-check-label" for="autoSizingCheck">
                Remember me
              </label>
            </div>
            <button
              class="btn btn-primary px-4"
              (click)="login(username.value, password.value)"
            >
              Login
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
