<div class="row">
  <div class="col-md-5 col-xs-12 col-lg-5 mx-auto">
    <div class="card-group">
      <div class="card p-4">
        <div class="card-body">
          <form class="ng-untouched ng-pristine ng-invalid">
            <h1>Login</h1>
            <p class="text-muted">Sign in to your account</p>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span
                  class="input-group-text"
                  style="border-radius: 0px 0 3px 0px"
                >
                  <i>
                    <img
                      src="../assets/images/icon-user.png"
                      width="14"
                      height="14"
                    />
                  </i>
                </span>
              </div>
              <input class="form-control" name="username" type="text" />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span
                  class="input-group-text"
                  style="border-radius: 0px 0 3px 0px"
                >
                  <i>
                    <img
                      src="../assets/images/icon-lock.png"
                      width="14"
                      height="14"
                    />
                  </i>
                </span>
              </div>
              <input class="form-control" name="username" type="password" />
            </div>
            <button class="btn btn-primary px-4" (click)="login()">Login</button>
           
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
