<div class="container">
  <div class="py-3 text-center">
    <img
      class="d-block mx-auto mb-2"
      src="../assets/images/logo.jpg"
      alt="logo"
      width="72"
      height="72"
    />
    <h5>Synesis IT</h5>
  </div>

  <!-- <div class="row"> -->
  <div class="card">
    <div class="card-header ng-star-inserted" style="font-size: 18px">
      Fill up the form
      <button class="btn btn-outline-danger float-end" type="reset">Reset</button>
    </div>
    <div class="card-body">
      <div class="col-md-12 mb-12"></div>
      <div class="col-md-12 mb-12">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <formly-form [form]="form" [model]="model" [fields]="fields">
          </formly-form>
          <button class="btn btn-success" type="submit">
            Submit
          </button>
        </form>
      </div>
    </div>
    <br />
  </div>
  <div class="col-md-4 mb-4"></div>
  <!-- </div> -->
</div>
