<nav class="navbar bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        class="d-block mx-auto mb-2"
        src="../assets/images/logo2.jpg"
        alt="logo"
        width="125"
        height="40"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navigation</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              [routerLink]="['/form']"
              >Form</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="true"
            >
              Dashboard
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Role Management</a></li>
              <li><a class="dropdown-item" href="#">User Management</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              *ngIf="!(auth.isLoggedIn | async)"
              (click)="auth.login()"
              class="nav-link active"
              aria-current="page"
              [routerLink]="['/login']"
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a
              *ngIf="(auth.isLoggedIn | async)"
              (click)="auth.logout()"
              class="nav-link active"
              aria-current="page"
              [routerLink]="['/login']"
              >Logout</a
            >
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>
